button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    margin: auto;
    margin-left: 10px;
    padding: 10px;
  }

  .form-presenza{
    max-width: 1500px;
  }
 .form-horizontal {
    display: flex;
    flex-direction: row;
    max-width: 1500px; /* Imposta una larghezza massima di 400px per i form */
  }

  /* Stili specifici per i campi del form principale */
  .form-horizontal .form-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

   .form-row label {
    margin-right: 10px;
    margin-left: 10px;

  }

  .form-horizontal .form-row select,
  .form-horizontal .form-row input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  label {
    margin-top: 10px;
  }

  input,
  select {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }



  /* Form per la modifica */
  form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Imposta una larghezza massima di 400px per i form */
  margin-right: auto;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .modal h2 {
    margin-bottom: 10px;
  }

  .modal form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
  }

  .modal button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Stili per l'animazione della modal */
  .modal-enter-active,
  .modal-leave-active {
    transition: opacity 0.2s;
  }

  .modal-enter,
  .modal-leave-to {
    opacity: 0;
  }